.text-centered {
    text-align: center
}

#root-path,
#license-selector,
#upload-button {
  width: 100%;
}

#license-selector,
#upload-button {
  max-width: 200px;
}

.dropdown-menu a {
  display: inline;
}

.dropdown-menu a:nth-child(2) {
  color: #08C
}

.js-required {
    /* This content made visible through ingestion.ui.js */
    display: none;
}
