.text-centered {
  text-align: center
}

#root-path,
#license-selector,
#upload-button {
  width: 100%;
}

#license-selector,
#upload-button {
  max-width: 200px;
}

.dropdown-menu a {
  display: inline;
}