<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Sandstorm
Description: A two-column, fixed-width design with brown color scheme.
Version    : 1.0
Released   : 20120205
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>Sandstorm by Free CSS Templates</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">Sandstorm</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="first"><a href="#">Blog</a></li>
				<li><a href="#">Photos</a></li>
				<li><a href="#">Links</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Portfolio</a></li>
				<li><a href="#">Friends</a></li>
				<li class="last"><a href="#">Contact</a></li>
			</ul>
		</div>
	</div>
	<div id="page">
		<div id="sidebar">
			<h3>Donec sapien</h3>
			<ul class="list">
				<li class="first"><a href="#">Nisi quisque aliquam</a></li>
				<li><a href="#">Dignissim parturient vestibulum</a></li>
				<li><a href="#">Ridiculus ligula proin</a></li>
				<li><a href="#">Nullam cras fermentum varius</a></li>
				<li><a href="#">Accumsan porta dolor aliquam</a></li>
				<li class="last"><a href="#">Proin rutrum urna natoque</a></li>
			</ul>
			<h3>Quis nisi elementum</h3>
			<p>
				Aenean eu facilisis at in sed amet. Gravida metus lorem magnis sagittis tempor donec quis. Tincidunt ipsum quisque magna lorem ipsum.
			</p>
		</div>
		<div id="content">
			<div id="post1">
				<h2>Welcome to Sandstorm</h2>
				<p>
					This is <strong>Sandstorm</strong>, a free, fully standards-compliant CSS template by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>. The picture in this template is from <a href="http://pdphoto.org">PDPhoto.org</a>. This free template is released under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attributions 3.0</a> license, so you are pretty much free to do whatever you want with it (even use it commercially) provided you keep the links in the footer intact. Aside from that, have fun with it :)
				</p>
			</div>
			<div id="post2">
				<h3>Ornare erat neque placerat</h3>
				<p>
					Nunc enim pellentesque commodo pretium. Primis neque aliquet lacinia euismod vulputate volutpat. Morbi condimentum gravida neque. Varius quisque iaculis curabitur ornare lacinia cum placerat. Tincidunt urna amet vivamus tellus rhoncus. Nibh fringilla purus viverra odio pulvinar vivamus.
				</p>
			</div>
			<div id="post3">
				<h3>Consectetur placerat donec</h3>
				<p>
					Auctor a laoreet pellentesque suscipit. Justo dui metus aliquam nullam. Facilisis euismod amet dignissim egestas condimentum curae. Tellus suscipit pharetra dolor. Parturient semper felis nunc magnis nibh. Magnis vulputate gravida fringilla iaculis quis montes. Rutrum curabitur mi augue ligula natoque est pharetra.
				</p>
			</div>
			<br class="clearfix" />
		</div>
		<br class="clearfix" />
	</div>
	<div id="page-bottom">
		<div id="page-bottom-sidebar">
			<h3>Ligula vitae venenatis</h3>
			<ul class="list">
				<li class="first"><a href="#">Adipiscing tellus</a></li>
				<li><a href="#">Phasellus nisi fermentum</a></li>
				<li><a href="#">Pretium magnis diam</a></li>
				<li class="last"><a href="#">Lectus et ullamcorper</a></li>
			</ul>
		</div>
		<div id="page-bottom-content">
			<h3>Adipiscing sociis</h3>
			<p>
				Auctor sapien ullamcorper proin pharetra sit nullam elementum. Risus morbi parturient eu cum dolor. Lobortis quis aenean risus rhoncus justo. Quisque non condimentum nascetur phasellus. Luctus ipsum nascetur eu a sapien pretium velit. Magnis massa pretium ridiculus. Montes convallis sociis aenean nibh neque ante. Fringilla lorem nulla blandit ante. Parturient pulvinar non congue consequat curae ipsum. Velit condimentum auctor adipiscing. Purus gravida donec et magna aenean. Amet nulla hendrerit.
			</p>
		</div>
		<br class="clearfix" />
	</div>
</div>
<div id="footer">
	Copyright (c) 2012 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">CSS Templates</a>.
</div>
</body>
</html>